<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mediscreen</title>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/custom.css">
<link rel="icon" type="image/png" href="/img/favicon.ico" />

</head>
<body>
	<!-- Navigation -->
	<div th:replace="fragments/general.html :: navigation"></div>

	<div class="container">
		<div class="row h-100">
			<div class="col-12 text-center">
				<h2 class="text-danger" th:text="${errorMsg}">Error</h2>
			</div>
		</div>

	</div>

	<!-- Footer -->
	<div th:replace="fragments/general.html :: footer"></div>

	<script src="/webjars/jquery/3.6.0/jquery.slim.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>