<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mediscreen</title>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/custom.css">
<link rel="icon" type="image/png" href="/img/favicon.ico" />
</head>
<body>

	<!-- Navigation -->
	<div th:replace="fragments/general.html :: navigation"></div>

	<div class="container">
		<div class="row py-2">
			<div class="col-6 col-sm-9">
				<h2>Notes for patient: 
					<span class="h3 text-success font-weight-bold" th:text="${patient.given} + ' ' + ${patient.family}"></span>
				</h2>
			</div>
			<div class="col-6 col-sm-3 text-right">
				<a href="#" class="btn btn-success btn-lg" role="button"
					th:href="@{/noteForm(patId=${patient.id})}">Create note</a>
			</div>
		</div>


		<table class="table">
			<thead class="thead-light">
				<tr>
					<th class="text-left">Doctor note</th>
					<th class="text-left"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="patientNote : ${listNotes}">
					<td th:text="${patientNote.note}"></td>
					<td>
						<form method="post" action="#" th:action="@{'/notes/delete/{id}'(id=${patientNote.id})}" 
							class="form-inline justify-content-end" >
							<a href="#" class="btn btn-info" role="button" th:href="@{/noteForm(id=${patientNote.id},patId=${patientNote.patId})}">Update</a>
						    <button type="submit" class="btn btn-danger">
						        Delete
						    </button>
						</form>

					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- Footer -->
	<div th:replace="fragments/general.html :: footer"></div>

	<script src="/webjars/jquery/3.6.0/jquery.slim.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>